//importred partials

@import 'components/reset';
@import 'components/fontfaces';
@import 'components/navBar';

//master conrtrols


body {
  height: 100vh;
  width: 100vw;
  //RESPONSIVE FONT SIZE
  font-size: 100%;
  font-family: 'Avenir Next', sans-serif;
  background-color: #FCFCFC;
  font-weight: 150;

}
