//nav bar sass partial thingy maaa bah

// placeholders

%navBarList{
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

    li{
      margin: 0px 14px;
      padding-bottom: 1px;
      text-transform: uppercase;
      font-size: .88em;
      letter-spacing: 0.09em;
      color: #595959;
      cursor: pointer;
      &:hover{
        color: #1BA3DE;
      }
      // font-weight: ;
    }
  }
}

%navHover{
  &:hover{
    color: #1BA3DE;
  }
}

// IDS BRO

#navBar{
  height: 66px;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  box-sizing: border-box; //YAY ITS RESPONSIVE
  border-bottom: 1px solid #E5E5E5;


#navBarLeft{
  height: 100%;
  width: auto;

  display: flex;
  justify-content: space-between;




  #navBarLogo{
    height: 100%;
    width: auto;

    display: flex;
    align-items: center;
    cursor: pointer;

  }
  @extend %navBarList;

  // manipulate the first child of the parent

  li:first-child{
    margin: 0 15px 0 30px;

  }
}

#navBarRight{
  height: 100%;
  width: auto;

  display: flex;
  @extend %navBarList;
  margin-right: 15px;

    li:first-child{
      color: #1BA3DE;
    }


    li:last-child{
      margin: 0 0 2px 5px;

    }
    li:nth-child(2){
      color:red;
      margin-right: 0px;

    }

    li:nth-child(3){
      &:hover{
        // change svg colors
        fill: #4182C4;
      }
    }
  }
}
